<html>
<head>
  <link rel="stylesheet" href="main.css"></link>
  <script src = "https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="frontend.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>

</head>
<body>
<div id = "body">
<div id = "uppernavigation">
  <ul>
    <li>NIGHTLIFE</li>
    <li><div id="signupbutton" onclick="signupclick()">SIGNUP</div>
      <div id = "signupdropdown">
        <div id="signupmessage"></div><br><br>
          <label for ="Username">Username</label><br>
          <input name="Username" type="text" placeholder="Enter your username" id="signupusername"><br><br>
          <label for="Email-id">Email-id</label><br>
          <input name = "Email-id" type="text" placeholder="Enter your email-id" id="signupemail"><br><br>
          <label for="password">Password</label><br>
          <input name="password" type="password" placeholder="Enter your password" id="signuppassword"><br><br>
          <button name="name" value="value" type="submit" onclick="processSignup()">SignUp</button>
      </div>
      <div id = "loadersignup" class="loader"></div>
    </li>

    <li><div id="loaderlogin" class="loader"></div> <div id="loginbutton" onclick="loginclick()">LOGIN</div>
      <div id = "logindropdown">
        <div id = "loginmessage"></div><br><br>
          <label for="Email-id">Email-id</label><br>
          <input name = "Email-id" type="text" placeholder="Enter your email-id" id="loginemail"><br><br>
          <label for="password">Password</label><br>
          <input name="password" type="password" placeholder="Enter your password" id="loginpassword"><br><br>
          <button name="name" value="value" type="submit" onclick="checkLogin()">Login</button>
    </div>
    </li>
  </ul>
</div>

<div id = "searchplaces">
  <label for="places" id = "placeslabel">ENTER YOUR LOCATION</label><br><br>
  <input type="text" placeholder="WHERE YOU AT?" name="places" id="places">
  <div id="search" onclick="search()">
    <i class="fa fa-search" aria-hidden="true"></i>
  </div>
</div>
</div>

<div id="loader" class = "spinnermain">
<i class="fa fa-glass" style="font-size: 150px" aria-hidden="true">
  <i class="fa fa-spinner" style="font-size:50px" aria-hidden="true"></i>
</i>
</div>

</body>
</html>
