<html>
<head>
  <link rel="stylesheet" href="main.css"></link>
  <script src = "https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="frontend.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>

</head>
<body>
<div id = "body">
<div id = "uppernavigation">
  <ul>
    <li>NIGHTLIFE</li>
    <li><div id="signupbutton" onclick="signupclick()">SIGNUP</div>
      <div id = "signupdropdown">
        <div id="signupmessage"></div><br><br>

        <div class = "signuploginform">
          <img src="signup-user.png" alt="loginicon" style="width:100px;height:100px;float:left">
          <input type = "text" name = "Username" placeholder="Enter your username" id = "signupusername">
          <input name = "Email-id" type="text" placeholder="Enter your email-id" id="signupemail">
          <input name="password" type="password" placeholder="Enter your password" id="signuppassword">
          <div class= "signuploginclick"  onclick="processSignup()">
            Signup
          </div>
        </div>

      </div>
      <div id = "loadersignup" class="loader"></div>
    </li>

    <li>
      <div id="loaderlogin" class="loader"></div>
      <div id="loginbutton" onclick="loginclick()">LOGIN</div>
      <div id = "logindropdown">
        <div id = "loginmessage"></div><br><br>
        <div class = "signuploginform">
          <img src="loginuser.jpg" alt="loginicon" style="width:100px;height:100px;float:left">
          <input type="text" name = "Email-id" placeholder = "Enter your email_id" id = "loginemail">
          <input type = "password" name = "password" placeholder = "Enter your password" id = "loginpassword">
          <div class= "signuploginclick" onclick="checkLogin()">
            Login
          </div>
        </div>
      </div>
    </li>

    <li>
      <div style="float:left; display: inline-block; padding: 5px ; margin-left: 250px;">
      <i class="fa fa-glass" style="font-size: 40px" aria-hidden="true">
        <i class="fa fa-spinner" style="font-size:10px" aria-hidden="true"></i>
      </i>
      </div>
    </li>

  </ul>
</div>

<div id = "searchplaces">
  <label for="places" id = "placeslabel">ENTER YOUR LOCATION</label><br><br>
  <input type="text" placeholder="WHERE YOU AT?" name="places" id="places">
  <div id="search" onclick="search()">
    <i class="fa fa-search" aria-hidden="true"></i>
  </div>
</div>
</div>

<div id="loader" class = "spinnermain">
<i class="fa fa-glass" style="font-size: 150px" aria-hidden="true">
  <i class="fa fa-spinner" style="font-size:50px" aria-hidden="true"></i>
</i>
</div>

</body>
</html>
